<html>
<head>
<title>Select Manager - Aggiungi call</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Dettagli della call n&deg; ${newN}|"></h1>
	<form action="#" th:action="@{/callAdded}" method="post"
		th:object="${call}">
		<p>
			Data scritti: <input type="date" th:field="*{data}">
		</p>
		<br> <input type="submit" class="sub" value="Aggiungi"><input
			class="sub" type="reset" value="Resetta">
	</form>
</body>
</html>