<html>
<head>
<title>Select Manager - Assegna Punteggio</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Punteggi del candidato ${candidato}|"></h1>
	<form th:action="@{/punteggiAssegnati}" th:object="${punteggi}"
		method="post">
		<input type="hidden" th:value="*{id}" th:field="*{id}"> <input
			type="hidden" name="candidatoId" th:value="${candidato.getId()}">
		<p>
			Inglese: <input th:if="${punteggi.getpInglese() != null}"
				type="number" max="10" min="0" th:field="*{pInglese}"
				th:value="*{pInglese}"> <input
				th:if="${punteggi.getpInglese() == null}" type="number" max="10"
				min="0" th:field="*{pInglese}" value="0">
		</p>
		<p>
			Logica: <input th:if="${punteggi.getpLogica() != null}" type="number"
				max="10" min="0" th:field="*{pLogica}" th:value="*{pLogica}">
			<input th:if="${punteggi.getpLogica() == null}" type="number"
				max="10" min="0" th:field="*{pLogica}" value="0">
		</p>
		<p>
			Grafica: <input th:if="${punteggi.getpGrafica() != null}"
				type="number" max="10" min="0" th:field="*{pGrafica}"
				th:value="*{pGrafica}"> <input
				th:if="${punteggi.getpGrafica() == null}" type="number" max="10"
				min="0" th:field="*{pGrafica}" value="0">
		</p>
		<p>
			IT: <input th:if="${punteggi.getpICT() != null}" type="number"
				max="10" min="0" th:field="*{pICT}" th:value="*{pICT}"> <input
				th:if="${punteggi.getpICT() == null}" type="number" max="10" min="0"
				th:field="*{pICT}" value="0">
		</p>

		<input class="sub" type="submit" value="Conferma"><input
			type="reset" value="Resetta" class="sub">
	</form>
</body>
</html>