<html>
<head>
<title>Select Manager - Carica CSV Prove Scritte</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
	<div th:replace="fragments :: header"></div>
	<h1>Carica CSV Prove Scritte</h1>

	<form th:action="@{/CSVcaricato}" encType="multipart/form-data"
		method="post">
		<input type="file" name="csv"> <br> <br> <input
			type="submit" class="sub" value="Carica">
	</form>
	<br>
	<h2>Attenzione!</h2>
	<p>
		Il CSV deve contenere una serie di righe cos&igrave; definite:<br>
		<br>CF,Inglese,Logica,Grafica,ICT<br> <br>Non servono
		le intestazioni, ma solo i valori.
	</p>
</body>
</html>