<html>
<head>
<title>Select Manager - Date Orali</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
	<div th:replace="fragments :: header"></div>
	<h1
		th:text="|Date orali per la call n&deg;${call.getNumero()} del ${#dates.format(call.getData(), 'dd/MM/yyy')}|"></h1>

	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Corso</td>
			<td class="tHeader">Data Orali</td>
			<td class="tHeader">Modifica</td>
			<td class="tHeader">Elimina</td>
		</tr>
		<tr th:each="el: ${call.getDateOrali()}">
			<td class="tCell" th:text="${el.getCorso()}"></td>
			<td class="tCell" th:text="${#dates.format(el.getData, 'dd/MM/yyy')}"></td>
			<td class="tCell"><a
				th:href="@{/modOrali/{id}(id=${el.getId()})}">Modifica</a></td>
			<td class="tCell"><a
				th:href="@{/eraseOrale/{id}/{callId}(id=${el.getId()}, callId=${call.getId()})}">Elimina</a></td>
		</tr>
	</table>
	<br>
	<div class="tHeader">
		<br> <br> <a style="color: #ffffff;"
			th:href="@{/addOrale/{id}(id=${call.getId()})}">Aggiungi</a>
	</div>
</body>
</html>