<html>
<head>
<title>Select Manager - Risultati Colloquio</title>
<link href="/style.css" rel="stylesheet">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Risultati colloquio di ${candidato}"></h1>
	<br>
	<form action="#" th:action="@{/caricaRisultati}"
		th:object="${preferenze}" method="post">
		<input type="hidden" name="id" th:value="${candidato.getId()}">
		<p>
			Capacit&agrave; espressive del candidato (max 10): <input
				type="number" max="10" min="1" name="capEspr">
		</p>
		<br>

		<div th:each="pref, itemStat : *{punteggi}">
			<h3
				th:text="|Valutazioni per il corso *{punteggi[__${itemStat.index}__].getCorso()}|"></h3>
			<h4
				th:text="|Punteggio per il diploma: *{punteggi[__${itemStat.index}__].getpDiploma()}|"></h4>
			<p>
				Motivazione e aspettative (max 30): <input type="number"
					th:field="*{punteggi[__${itemStat.index}__].pMotivazione}" max="30"
					min="1">
			</p>
			<p>
				Conoscenza dei settori di mercato e dei profili (max 10): <input
					type="number"
					th:field="*{punteggi[__${itemStat.index}__].pConoscenza}" max="10"
					min="1">
			</p>
			<p>
				Coerenza tra esito del colloquio e percorso scelto (max 10): <input
					type="number"
					th:field="*{punteggi[__${itemStat.index}__].pCoerenza}" max="10"
					min="1">
			</p>
			<br>
		</div>
		<input class="sub" type="submit" value="Conferma"><input
			class="sub" type="reset" vaue="Resetta">
	</form>
</body>
</html>