<html>
<head>
<title>Select Manager - Dettaglio Ammessi</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Ammessi al corso ${corso}|"></h1>
	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Studente</td>
			<td class="tHeader">Punteggio</td>
			<td class="tHeader">Foto</td>
			<td class="tHeader">Ritirato?</td>
		</tr>
		<tr th:each="s : ${ammessi}">
			<td class="tCell" th:text="${s.get('candidato')}"></td>
			<td class="tCell" th:text="${s.get('punteggio')}"></td>
			<td class="tCell"><a
				th:href="@{/visualizzaFoto/{id}(id=${s.get('candidato').getId()})}">Visualizza</a></td>
			<td class="tCell"><a
				th:href="@{/studenteRitirato/{id}/{idCorso}(id=${s.get('candidato').getId()}, idCorso=${corso.getId()})}">Cambia
					stato</a></td>
		</tr>
	</table>
</body>
</html>