<html>
<head>
<title>Inserisci una domanda</title>
</head>

<body>
	<div style="text-align: center;">
		<h1>Inserisci una domanda</h1>
		<form action="#" th:action="@{/addDomanda}" method="post"
			th:object="${domanda}">
			<p>Argomento:</p>
			<select th:field="*{argomento}">
				<option th:each="a : ${argomenti}" th:value="${a.id}" th:text="${a}">
			</select>
			<p>Testo della domanda:</p>
			<textarea rows="5" cols="50" th:field="*{testo}"></textarea>
			<p>Risposta 1:</p>
			<textarea rows="4" cols="50" th:field="*{risp1}"></textarea>
			<p>Risposta 2:</p>
			<textarea rows="4" cols="50" th:field="*{risp2}"></textarea>
			<p>Risposta 3:</p>
			<textarea rows="4" cols="50" th:field="*{risp3}"></textarea>
			<p>Risposta 4:</p>
			<textarea rows="4" cols="50" th:field="*{risp4}"></textarea>
			<p>Risposta corretta:</p>
			<input type="number" min="1" max="4" th:field="*{risposta}">
			<br> <input type="submit" value="Inserisci domanda"><input
				type="reset" value="Resetta campi">
		</form>
	</div>
</body>
</html>