<html>
<head>
<title>Iscriviti alle selezioni ITSAR</title>
<link href="/style.css" rel="stylesheet">
</head>

<body style="font-size: 120%;">
	<div>
		<img th:src="@{/logoITSAR.png}"> <br> <br>
		<h1>Iscriviti alle nostre selezioni!</h1>
		<p style="color: red;" th:text="${avviso}"></p>
		<form action="#" th:action="@{/addCandidato}" th:object="${candidato}"
			method="post" encType="multipart/form-data">

			<p>
				Nome: <input type="text" th:field="*{nome}">
			</p>

			<p>
				Cognome: <input type="text" th:field="*{cognome}">
			</p>

			<p>
				Codice Fiscale: <input type="text" th:field="*{cf}">
			</p>

			<p>
				Genere: <select th:field="*{sesso}">
					<option value="M">Maschile</option>
					<option value="F">Femminile</option>
				</select>
			</p>

			<p>
				Et&agrave;: <input type="number" th:field="*{eta}">
			</p>

			<p>
				DSA (Disturbi Specifici dell'Apprendimento) <select
					th:field="*{dsa}">
					<option value="0">No</option>
					<option value="1">S&igrave;</option>
				</select>
			</p>
			<br>
			<hr>
			<br>
			<p>
				Email: <input type="text" th:field="*{mail}">
			</p>

			<p>
				Telefono (facoltativo) <input type="text" th:field="*{telefono}">
			</p>
			<br>
			<hr>
			<br>
			<p>
				Titolo di studio: <select style="width: 250px;"
					th:field="*{diploma}"><option th:each="d : ${diplomi}"
						th:value="${d.getId()}" th:text="${d.getTipo()}"></select>
			</p>

			<p>
				Scuola di provenienza: <input type="text"
					th:field="*{scuolaProvenienza}">
			</p>

			<br>
			<hr>
			<br>
			<p>
				Al momento hai un lavoro? <select th:field="*{occupato}">
					<option value="0">No</option>
					<option value="1">S&igrave;</option>
				</select>
			</p>

			<p>
				Frequenti l'Universit&agrave;? <select th:field="*{univ}">
					<option value="0">No</option>
					<option value="1">S&igrave;</option>
				</select>
			</p>
			<br>
			<hr>
			<br>
			<p>
				Corso a cui si &egrave; interessati (prima scelta) <select
					th:field="*{pref1}">
					<option th:each="c: ${primaScelta}" th:value="${c.id}"
						th:text="${c.codice}">
				</select>
			</p>

			<p>
				Corso a cui si &egrave; interessati (seconda scelta) (facoltativo) <select
					th:field="*{pref2}">
					<option th:each="c: ${corsi}" th:value="${c.id}"
						th:text="${c.codice}">
				</select>
			</p>

			<p>
				Corso a cui si &egrave; interessati (terza scelta) (facoltativo) <select
					th:field="*{pref3}">
					<option th:each="c: ${corsi}" th:value="${c.id}"
						th:text="${c.codice}">
				</select>
			</p>
			<br>
			<hr>
			<p>
				Allegare il CV: <input type="file" name="cv" multiple>
			</p>
			<br> <input class="sub" type="submit" value="Invia Dati"><input
				class="sub" type="reset" value="Resetta Campi">
		</form>
	</div>
</body>
</html>