<html>
<head>
<title>Select Manager - Lista Calls</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1>Lista delle prossime call</h1>

	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Numero</td>
			<td class="tHeader">Data Scritti</td>
			<td class="tHeader">Date Orali</td>
			<td class="tHeader">Modifica</td>
			<td class="tHeader">Elimina</td>
		</tr>
		<tr th:each="c: ${calls}">
			<td class="tCell" th:text="${c.getNumero()}"></td>
			<td class="tCell"
				th:text="${#dates.format(c.getData(), 'dd/MM/yyyy')}"></td>
			<td class="tCell"><a
				th:href="@{/dateOrali/{id}(id=${c.getId()})}">Gestisci</a></td>
			<td class="tCell"><a th:href="@{/modCall/{id}(id=${c.getId()})}">Modifica</a></td>
			<td class=tCell><a
				th:href="@{/eraseCall/{id}/(id=${c.getId()})}">Elimina</a>
		</tr>
	</table>
	<br>
	<div class="tHeader">
		<br> <br> <a style="color: #ffffff;"
			th:href="@{addCall/{number}(number=${lastN})}">Aggiungi call</a>
	</div>

</body>
</html>