<html>
<head>
<title>Select Manager - Lista Corsi</title>
</head>
<link rel="stylesheet" href="/style.css">

<body>
	<div th:replace="fragments :: header"></div>
	<h1>Lista dei corsi</h1>

	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Codice Corso</td>
			<td class="tHeader">Modifica</td>
		</tr>
		<tr th:each="c : ${corsi}">
			<td class="tCell" th:text="${c}"></td>
			<td class="tCell"><a
				th:href="@{/modCorso/{id}(id=${c.getId()})}">Modifica</a></td>
		</tr>
	</table>

	<br>
	<div class="tHeader">
		<br> <br> <a style="color: #ffffff;" th:href="@{nuovoCorso}">Aggiungi
			Corso</a>
	</div>

</body>
</html>