<html>
<head>
<title>Select Manager - Modifica call</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Modifica dettagli per la call n&deg; ${call.getNumero()}"></h1>
	<form action="#" th:action="@{/callModded}" th:object="${call}"
		method="post">
		<input type="hidden" th:field="*{id}" th:value="*{id}"> <input
			type="hidden" th:field="*{numero}" th:value="*{numero}"> <input
			type="hidden" th:field="*{mailInviate}" th:value="*{mailInviate}">
		<input type="hidden" th:field="*{mailOrali}" th:value="*{mailOrali}">

		<p>
			Data Scritti: <input type="date" th:field="*{data}"
				th:value="*{data}">
		</p>

		<br> <input class="sub" type="submit" value="Modifica">
	</form>

</body>

<script>
	
</script>
</html>