<html>
<head>
<title>Select Manager - Modifica Corso</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1 th:text="|Modifica dettagli per ${corso}|"></h1>
	<form action="#" th:action="@{/corsoModded}" th:object="${corso}"
		method="post">
		<input type="hidden" th:field="*{id}" th:value="*{id}">
		<p>
			Codice Corso: <input type="text" th:field="*{codice}"
				th:value="*{codice}">
		</p>
		<p>
			Categoria: <select th:field="*{categoriaCorso}"
				th:value="*{categoriaCorso}"><option
					th:each="cat : ${cats}" th:value="${cat.getId()}"
					th:text="${cat.getCat()}"></option></select>
		</p>
		<p>
			Prova di grafica? <select th:field="*{grafica}" th:value="*{grafica}"><option
					value="0">No</option>
				<option value="1">S&igrave;</option></select>
		</p>
		<p>
			Prova di ICT? <select th:field="*{it}" th:value="*{it}"><option
					value="0">No</option>
				<option value="1">S&igrave;</option></select>
		</p>
		<p>
			Studenti massimi accettati: <input type="number" th:field="*{max}"
				th:value="*{max}">
		</p>
		<input type="submit" class="sub" value="Conferma"><input
			type="reset" class="sub" value="Resetta">
	</form>
</body>
</html>