<html>
<head>
<title>Select Manager - Modifica Data Orali</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1
		th:text="|Aggiorna dati per orali del corso ${dataOrali.getCorso()} per la call n&deg;${dataOrali.getCall().getNumero}|">
	</h1>

	<form th:action="@{/oraleModded}" method="post"
		th:object="${dataOrali}">
		<p>
			Data: <input type="date" th:field="*{data}" th:value="*{data}">
		</p>
		<input type="hidden" th:field="*{id}" th:value="*{id}"> <input
			type="hidden" th:field="*{corso}" th:value="*{corso}"> <input
			type="hidden" th:field="*{call}" th:value="*{call}"> <input
			type="hidden" th:field="*{mail}" th:value="*{mail}"> <input
			type="submit" class="sub" value="Accetta">
	</form>
</body>
</html>