<html>
<head>
<title>Select Manager - Gestisci pagamenti</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1>Gestione pagamenti</h1>

	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Studente</td>
			<td class="tHeader">Corso</td>
			<td class="tHeader">Pagato?</td>
			<td class="tHeader">Data Pagamento</td>
			<td class="tHeader">Conferma Pagamento</td>
		</tr>
		<tr th:each="el :${list}">
			<td class="tCell" th:text="${el.get('candidato')}"></td>
			<td class="tCell" th:text="${el.get('punteggio').getCorso()}"></td>
			<td th:if="${el.get('punteggio').getPagato() == 0}" class="tCell">No</td>
			<td th:if="${el.get('punteggio').getPagato() == 1}" class="tCell">S&igrave;</td>
			<td th:if="${el.get('punteggio').getPagato() == 1}" class="tCell"
				th:text="${#dates.format(el.get('punteggio').getDataPagamento(), 'dd/MM/yyyy')}"></td>
			<td th:if="${el.get('punteggio').getPagato() == 0}" class="tCell"></td>
			<td th:if="${el.get('punteggio').getPagato() == 1}" class="tCell"></td>
			<td th:if="${el.get('punteggio').getPagato() == 0}" class="tCell"><a
				th:href="@{/confermaPagamento/{id}(id=${el.get('punteggio').getId()})}">Conferma</a></td>

		</tr>
	</table>
</body>
</html>