<html>
<head>
<title>Select Manager - Gestisci soglie</title>
<link href="/style.css" rel="stylesheet">
</head>

<body>
	<div th:replace="fragments :: header"></div>
	<h1>Modifica soglie</h1>

	<form action="#" th:action="@{/sogliaModded}" th:object="${soglia}"
		method="post">
		<input type="hidden" th:value="*{id}" th:field="*{id}">
		<p>
			Limite minimo ammissione ITS: <input type="number" max="100"
				th:field="*{ammITS}" th:value="*{ammITS}">
		</p>
		<p>
			Limite minimo ammissione IFTS: <input type="number" max="100"
				th:field="*{ammIFTS}" th:value="*{ammIFTS}">
		</p>
		<p>
			Limite minimo idoneit&agrave; ITS: <input type="number" max="100"
				th:field="*{idITS}" th:value="*{idITS}">
		</p>
		<p>
			Limite minimo idoneit&agrave; IFTS: <input type="number" max="100"
				th:field="*{idIFTS}" th:value="*{idIFTS}">
		</p>
		<input type="submit" class="sub" value="Conferma"><input
			type="reset" class="sub" value="Resetta">
	</form>
</body>
</html>