<html>
<head>
<title>Selezioni - Stato Candidatura</title>
</head>
<link href="/style.css" rel="stylesheet">

<body>
	<div th:replace="fragments :: header"></div>
	<h1
		th:text="|${candidato.getNome()}, ecco lo stato delle tue candidature!|"></h1>
	<table style="border: 1px solid black;">
		<tr>
			<td class="tHeader">Corso</td>
			<td class="tHeader">Stato</td>
		</tr>
		<tr th:each="s : ${stati}">
			<td class="tCell" th:text="${s.getCorso()}"></td>
			<td class="tCell" th:text="${s.getAmmissione()}"></td>
		</tr>
	</table>
</body>
</html>